<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="PDSI_2017_Julio_TrindadeConnectionString" connectionString="Data Source=Valera;Initial Catalog=PDSI_2017_Julio_Trindade;Persist Security Info=True;User ID=PDSI_2017_Julio_Trindade;Password=ziapap"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
